Source: xlights
Section: graphics
Priority: optional
Maintainer: Chris Debenham <chris@adebenham.com>
Build-Depends: debhelper (>= 9), libgtk2.0-dev, libgstreamer1.0-dev, libgstreamer-plugins-base1.0-dev, freeglut3-dev, libavcodec-ffmpeg-dev|libavcodec-dev, libavformat-ffmpeg-dev|libavformat-dev, libswscale-ffmpeg-dev|libswscale-dev, libsdl2-dev, libswresample-ffmpeg-dev|libswresample-dev, liblog4cpp5-dev, libavutil-ffmpeg-dev|libavutil-dev, libavresample-ffmpeg-dev|libavresample-dev, cbp2make, libportmidi-dev
Standards-Version: 3.9.6
Homepage: http://xlights.org/
Vcs-Git: git://github.com/smeighan/xLights.git
Vcs-Browser: https://github.com/smeighan/xLights

Package: xlights
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:Cross platform Christmas lights sequencer
    xLights is a Christmas lights sequencer, scheduler and playback engine for
    use on Windows, MAC or Linux systems. It is capable of playing LOR or
    Vixen sequences.
